KAFKA_IMAGE=bitnamilegacy/kafka:3.9.0
POSTGRES_IMAGE=postgres:16-alpine
KAFKA_UI_IMAGE=provectuslabs/kafka-ui:latest

POSTGRES_USER=auction
POSTGRES_PASSWORD=auction
POSTGRES_PORT=5432

KAFKA_BROKERS=kafka:9092
KAFKA_PORT=9094
KAFKA_TOPIC_PARTITIONS=64

JWT_SECRET=replace-with-a-local-development-secret

API_GATEWAY_PORT=8080
USER_SERVICE_PORT=8081
PRODUCT_SERVICE_PORT=8082
AUCTION_SERVICE_PORT=8083
TRANSACTION_SERVICE_PORT=8084
NOTIFICATION_SERVICE_PORT=8085
KAFKA_UI_PORT=8088
